.icon{
    position: absolute;
    left: 40%;
    top: 85%;
    z-index: 1;
    width: 200px;
    margin-right: 5%;
}


.icon>li{
    list-style: none;
    display: inline-block;
    font-size: 40px;
    margin-right: 15%;

}
.banner-img{
    width: 100%;
    height: 800px;
}

.banner{
    height: 400px;
    width: 100%;
   position: relative;
   top: 1%
   

}
.nav{
    background-color: blue;
    color: white;
    height: 50px;
    position: relative;
    top: -30px;
}
.bts{
    float: right;
    display: none;

}

a{
    color: white;
    text-decoration: none;
}


.links{
    margin-left:25% ;
}
.links>li{
    display: inline-block;
    margin: 5px;
   color: blue;
   list-style: none;
   
}
.links>li:first-child{
    margin-left: 100px;
}
strong{
    font-size: 70px;
}
.en{
    width: 100%;
    height:80px ;
    background-color: black;
    color: white;
}

.wr{
    width: 350px;
    height: 310px;
    background-color:transparent;
    color: white;
    position: absolute;
    top:55%;
    font-size: 200%;

}


.block{
    /* height: 700px;
    width: 100%; */
    width: 100%;
    height: 300px;
    display: inline-block;
    grid-template-columns: 1fr, 3fr;
    position: relative;
    top: 30%;
}

.block>div{
    display: inline-block;
}
.bh{
    position: relative;
    top: 30%;
}
.b1{
    background-color:#eee;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: larger;
}
.b2{
    color:black;
    background-color:#ddd;
    width: 70%;
    height: 100%;
    position: absolute;
    left: 30%;
    
    font-size: larger;
    display: flex;
    justify-content: center;
}

text{
    text-align: right;
}

.pb{
   position: absolute;
   top: 10%;
   text-align: justify;
   font-style: oblique;
}


.imcp{
    text-align: justify;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

hr{
    color: black;
    width: 70%;
}
.oh{
    position: relative;
    top: 30%;
    text-align: center;
    color: blue;
}

.cap{
   
    height: auto;
    width: 100%;
    position: relative;
    top:30%;
    display: grid;
    grid-template-columns:repeat(3, 1fr)
    
    
}
.cap>div{
    margin-right: 2%;

}
.imc{
    width:100%;
    height:400px ;
}

.c1{
    background-color:#ddd;
}
.c2{
    background-color:#ddd;
}
.c3{
    background-color:#ddd;
}

.lb{
    color: white;
    width: 100%;
    height: 400px;
    background-color: blue;
    position: relative;
    top: 30%;

}
.t1{

    width: 300px;
    height:50% ;
    border-right: white,solid,8px;
    position: absolute;
    top: 20%;
    left:2% ;
    
   
    

}
.t2h{
    text-align: center;
}

.t2{
    width: 300px;
    height:50% ;
    border-right: white,solid,8px;
    position: absolute;
    top: 20%;
    left:35.33% ;
   
    

}

.t3{
    width: 300px;
    height:50% ;
    border-right: white,solid,8px;
    position: absolute;
    top: 20%;
    left:64.67% ;
}

.copy{
    position: relative;
    top:27% ;
    height: 25px;
    background-color: black;
    color:white;
    text-align: center;
}

@media screen and  (max-width:850px)  {
    .banner-img{
        width: 100%;
        height: 800px;
    }
    
    .banner{
        height: 400px;
        width: 100%;
       position: relative;
       top: 1%
       
    
    }
    .nav{
        background-color: blue;
        color: white;
        height: 30px;
        position: relative;
        top: -30px;
    }
    .bts{
        float: right;
        display: none;
    
    }
    
    a{
        color: white;
        text-decoration: none;
    }
    
    
    .links{
        margin-left:15% ;
    }
    .links>li{
        display: inline-block;
        margin: 5px;
       color: blue;
       list-style: none;
      
    }
    strong{
        font-size: 70px;
    }
    .en{
        width: 100%;
        height:80px ;
        background-color: black;
        color: white;
    }
    
    .wr{
        width: 350px;
        height: 310px;
        background-color:transparent;
        color: white;
        position: absolute;
        top:50%;
        font-size: 150%;

    
    }
    
    
    .block{
        /* height: 700px;
        width: 100%; */
        width: 100%;
        height: 300px;
        display: inline-block;
        grid-template-columns: 1fr, 3fr;
        position: relative;
        top: 30%;
    }
    
    .block>div{
        display: inline-block;
    }
    .bh{
        position: relative;
        top: 30%;
        font-size: 20px;
    }
    .b1{
        background-color:#eee;
        width: 30%;
        height: 100%;
        text-align: center;
        font-size: larger;
    }
    .b2{
        color:black;
        background-color:#ddd;
        width: 70%;
        height: 100%;
        position: absolute;
        left: 30%;
        
        font-size: larger;
        display: flex;
        justify-content: center;
    }
    
    text{
        text-align: right;
    }
    
    .pb{
       position: absolute;
       top: 10%;
       text-align: justify;
       font-style: oblique;
    }
    
    
    .imcp{
        text-align: justify;
        font-style: normal;
        font-family: 'Times New Roman', Times, serif;
    }
    
    hr{
        color: black;
        width: 70%;
    }
    .oh{
        position: relative;
        top: 30%;
        text-align: center;
        color: blue;
    }
    
    .cap{
       
        height: auto;
        width: 100%;
        position: relative;
        top:30%;
        display: grid;
        grid-template-columns:repeat(3, 1fr)
        
        
    }
    .cap>div{
        margin-right: 2%;
    
    }
    .imc{
        width:100%;
        height:400px ;
    }
    
    .c1{
        background-color:#ddd;
    }
    .c2{
        background-color:#ddd;
    }
    .c3{
        background-color:#ddd;
    }
    
    .lb{
        color: white;
        width: 100%;
        height: 400px;
        background-color: blue;
        position: relative;
        top: 30%;
    
    }

    .lh{
        font-size: 20px;
    }
    .t1{
    
        width: 150px;
        height:50% ;
        border-right: white,solid,8px;
        position: absolute;
        top: 10%;
        left:2% ;
        
       
        
    
    }
    .t2h{
        text-align: center;
    }
    
    .t2{
        width: 150px;
        height:50% ;
        border-right: white,solid,8px;
        position: absolute;
        top: 10%;
        left:35.33% ;
       
        
    
    }
    
    .t3{
        width: 150px;
        height:50% ;
        border-right: white,solid,8px;
        position: absolute;
        top: 10%;
        left:64.67% ;
    }
    
    .copy{
        position: relative;
        top:27% ;
        height: 35px;
        background-color: black;
        color:white;
        text-align: center;
    }


}
















@media screen and  (max-width:450px)  {

    .icon{
        position: absolute;
        left: 40%;
        top: 88%;
        z-index: 1;
        width: 200px;
        
    }
    
    
    .icon>li{
        list-style: none;
        display: inline-block;
        font-size: 30px;
        margin-right: 10%;
    
    }

.en{
    height: auto;
}

    .banner-img{
        width: 100%;
        height: 300px;
    }
    
    .banner{
        height: 240px;
        width: 100%;
       position: relative;
       top: 1%
       
    
    }
    .bts{
        float: right;
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav{
        height: 50px;
        margin-top: 5%;
        
    }

    a{
        color: white;
        text-decoration: none;
    }

    .links{
        background-color: blue;
        width: 85vw;
        height: 0px;
        overflow: hidden;
        transition: 1s;
        position: absolute;
        left: -15%;
        top: 207.4%;
        z-index: 1;
        }

.links>li{
    color: white;
    display: block;
    margin: 5%;
    
}
.links>li:first-child{
    margin-left: 5%;
}
.show-links{
    height: 300px;
}
    
    /* old styling start here */
    strong{
    font-size: 32px;
    }
    .en{
    width: 100%;
    height:80px ;
    background-color: black;
    color: white;
    }
    
    .wr{
    width: 209px;
    height: 186px;
    background-color:transparent;
    color: white;
    position: absolute;
    top:40%;
    font-size: 75%;
    
    }
    
    
    .block{
    /* height: 700px;
    width: 100%; */
    width: 100%;
    height: 120px;
    display: block;
    
    position: relative;
    top: 10%;
    }
    
    
    .block>div{
    display:block;
    }
    .bh{
    position: relative;
    top: 30%;
    }
    .b1{
    background-color:#eee;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: larger;
    }
    .b2{
    color:black;
    background-color:#ddd;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0%;
    
    font-size: larger;
    display: flex;
    justify-content: center;
    }
    .pb{
    width: 100%;
    position: absolute;
    top:-1% ;
    }
    
    hr{
    color: black;
    width: 70%;
    }
    .oh{
    position: relative;
    top:80%;
    text-align: center;
    color: blue;
    }
    
    .cap{
    
    height: auto;
    width: 100%;
    position: relative;
    top:80%;
    display: grid;
    grid-template-columns:repeat(1, 1fr)
    
    
    }
    .cap>div{
    margin-right: 2%;
    
    }
    .imc{
    width:100%;
    height:400px ;
    }
    
    .c1{
    background-color:#ddd;
    }
    .c2{
    background-color:#ddd;
    }
    .c3{
    background-color:#ddd;
    }
    
    .lb{
    color: white;
    width: 100%;
    height: 500px;
    background-color: blue;
    position: relative;
    top: 75%;
    left: -0.8%;
    }
    
    
    .lb>div{
    display: block;
    
    }
    
    .lh{
    font-size: 14px;
    text-align: center;
    margin-left: -5%;
    }

    .t2h{
        margin-left: 5%;
    }

    .t3h{
        margin-left:-12% ;
    }
    .t1{
    
    width: 100%;
    height:240px ;
     position: absolute;
     top: 1%;
    
    
    
    
    }
    
    
    .t2{
    width: 100%;
    height:240px ;
    border-right: white,solid,8px;
    position: absolute;
    top: 27%;
    left: -4%;
    
    
    }
    
    .t3{
    width: 100%;
    height:240px ;
    position: absolute;
    top: 57%;
    left: 4%;
    
    }
    
    .copy{
    position: relative;
    top:69% ;
    left: -1%;
    height: auto;
    background-color: black;
    color:white;
    text-align: center;
    }
    
    
}